<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
        <a class="navbar-brand" href="/">NoSql Final</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                    <a class="nav-link" href="/myinfo"><i class="fas fa-file"></i> Resume Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nytimes"><i class="fas fa-blog"></i>  NYTimes Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/form"><i class="fas fa-address-card"></i> Form Page</a>
                </li>
            </ul>
        </div>
    </nav>
  </body>

{{{ body }}}

  <script>
        </script>
</html>
