<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>My Resume!</title>
  </head>
  <body>
    <div class="row">
        <img src="/Tony.jpg" class="w3-circle" />
    </div>
    <center><h1> Welcome to My Resume! </h1></center>
    <div class="table">
          Tony Reina
          <br>
          Staples Print and Marketing Supervisor
          <br>
          2 Years
          <br>
          US Army Reserves
          <br>
          Point Park Univerity
          <br>
          Fall of 2015
          <br>
          Spring of 2020

   </div>
  </body>
</html>
